@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background-image: linear-gradient(to top, #0E0719 0%, #100C23 59%, #181C49 100%);
    flex-direction: column;
}

.search_bar{
    width: 40%;
    height: 4vw;
    border: solid red;
    display: flex;
    align-items: center;
}
.fi{
    font-size: 1vw;
    color: #fff;
    /* border: solid; */
}
.search_field{
    width: 40%;
    border: solid green;
}